<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block layout:insert="~{fragments/header}"/>
<body>
    <div class="mx-auto w-75 container">
        <div class="text-center">
            <h2>Tere tulemast MinuMarevani!</h2>
        </div>
        <div>
            <div class="row p-1">
                <div class="col">
                    <div class="col card one-div rounded-3 p-3 m-3 clickable-card" data-toggle="modal" data-target="#inrModal">
                        <h5 class="text-center">UUS ANALÜÜS</h5>
                        <div class="modal fade" id="inrModal" tabindex="-1" role="dialog" aria-labelledby="intModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="inrModalLabel">Sisesta INR väärtus</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">INR väärtus:</label>
                                            <div class="col-sm-8">
                                                <input type="text" value="" name="" class="form-control" required/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">INR kuupäev:</label>
                                            <div class="col-sm-8">
                                                <input type="date" value="" name="" class="form-control" required/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <h6 class="modal-title mt-2 mb-3" id="inrPillNumber">Tablettide arv päevas</h6>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Esmaspäev:</label>
                                            <div class="col-sm-8">
                                                <input type="number" value="" name="" class="form-control" required/>
                                            </div>
                                            <label class="col-sm-4 col-form-label">Teisipäev:</label>
                                            <div class="col-sm-8">
                                                <input type="number" value="" name="" class="form-control" required/>
                                            </div>
                                            <label class="col-sm-4 col-form-label">Kolmapäev:</label>
                                            <div class="col-sm-8">
                                                <input type="number" value="" name="" class="form-control" required/>
                                            </div>
                                            <label class="col-sm-4 col-form-label">Neljapäev:</label>
                                            <div class="col-sm-8">
                                                <input type="number" value="" name="" class="form-control" required/>
                                            </div>
                                            <label class="col-sm-4 col-form-label">Reede:</label>
                                            <div class="col-sm-8">
                                                <input type="number" value="" name="" class="form-control" required/>
                                            </div>
                                            <label class="col-sm-4 col-form-label">Laupäev:</label>
                                            <div class="col-sm-8">
                                                <input type="number" value="" name="" class="form-control" required/>
                                            </div>
                                            <label class="col-sm-4 col-form-label">Pühapäev:</label>
                                            <div class="col-sm-8">
                                                <input type="number" value="" name="" class="form-control" required/>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Sulge</button>
                                        <button type="button" class="btn btn-primary">Salvesta muudatused</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col card two-div rounded-3 p-3 m-3 clickable-card">
                        <h5 class="text-center">MINU AJALUGU</h5>
                    </div>
                </div>
                <div class="col">
                    <div class="col card two-div rounded-3 p-3 m-3">
                        <!-- Uses dynamic data from database later on -->
                        <h5 class="text-center">TÄNANE ANNUS</h5>
                        <p class="text-center">Laupäev - 20.12.2021</p>
                        <p class="text-danger display-1 text-center mt-4">1.5</p>
                    </div>
                    <div class="col card one-div rounded-3 p-3 m-3 ">
                        <h5 class="text-center">MAREVANI INFO</h5>
                        <button type="button" class="btn btn-primary m-2" data-toggle="modal" data-target="#marevanModal">
                            Vaata
                        </button>
                        <div class="modal fade" id="marevanModal" tabindex="-1" role="dialog" aria-labelledby="marevanModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="marevanModalLabel">Marevani info</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>
                                            <a class="btn btn-primary" data-toggle="collapse" href="#marevan1" role="button" aria-expanded="false" aria-controls="marevan1">
                                                Kuidas ravimit manustada?
                                            </a>
                                        </p>
                                        <div class="collapse" id="marevan1">
                                            <div class="card card-body">
                                                <li>Võta Marevani iga päev samal ajal</li>
                                                <li>Kui unustad ravimi võtmata, siis ära kunagi võta seda tagantjärgi koos järgmise doosiga, vaid helista tervishoiutöötajale</li>
                                                <li>Veritsuse või trombi kahtluse korral teavita sellest kohe atervishoiutöötajat või pöördu EMO-sse</li>
                                                <li>Anna vereanalüüsid selleks ettenähtud graafiku alusel. Kui Sa ei saa õigel päeva analüüsi anda, siis lepi kokku uus sobiv aeg</li>
                                                <li>Püüa hoida K-vitamiini hulk toidus ühtlane</li>
                                            </div>
                                        </div>
                                        <p>
                                            <a class="btn btn-primary" data-toggle="collapse" href="#marevan2" role="button" aria-expanded="false" aria-controls="marevan2">
                                                Kõrvaltoimed
                                            </a>
                                        </p>
                                        <div class="collapse" id="marevan2">
                                            <div class="card card-body">
                                                <li>Suurenenud soodumus verevalumite tekkeks</li>
                                                <li>Verejooks ninast või igemetest</li>
                                                <li>Veri uriinis või väljaheites</li>
                                                <li>Tavalisest vererohkemad menstruatsioonid</li>
                                                <p>VÕIMALIKEST KÕRVALTOIMETEST TEAVITA TERVISHOIUTÖÖTAJAT!</p>
                                            </div>
                                        </div>
                                        <p>
                                            <a class="btn btn-primary" data-toggle="collapse" href="#marevan3" role="button" aria-expanded="false" aria-controls="marevan3">
                                                Elustiil
                                            </a>
                                        </p>
                                        <div class="collapse" id="marevan3">
                                            <div class="card card-body">
                                                <li>Marevanravi ajal hoidu alkoholi tarbimisest, kuna see mõjutab ravimi toimet</li>
                                                <li>Kui olete suitsetaja, on suitsetamisest loobumise korral tarvis ühendust võtta tervishoiutöötajaga</li>
                                                <li>Rasestumise korral Marevanravi ajal võtke koheselt ühendust tervishoiutöötajaga! Marevanravi võib kahjustada loodet</li>
                                                <li>Kui Teil on plaanis hambaravi või muu kirurgiline sekkumine, siis võtke ravi planeerimiseks ühendust tervishoiutöötajaga</li>
                                                <li>Kui Teil esineb oksendamine ja/või kõhulahtisus, pidage nõu tervishoiutöötajaga</li>
                                            </div>
                                        </div>
                                        <p>
                                            <a class="btn btn-primary" data-toggle="collapse" href="#marevan4" role="button" aria-expanded="false" aria-controls="marevan4">
                                                Marevan ja teised ravimid
                                            </a>
                                        </p>
                                        <div class="collapse" id="marevan4">
                                            <div class="card card-body">
                                                <li>Valuvaigistitest ja palavikualandajatest on sobivaimad paratsetamooli sisaldavad preparaadid</li>
                                                <li>Antibiootikumid võivad tugevdada varfariini toimet</li>
                                                <li>Hakates tarvitama uut ravimit, informeerige sellest tervishoiutöötajat!</li>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Sulge</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="col card one-div rounded-3 p-3 m-3 clickable-card" data-toggle="modal" data-target="#contactsModal">
                        <h5 class="text-center">OLULISED KONTAKTID</h5>
                        <div class="modal fade" id="contactsModal" tabindex="-1" role="dialog" aria-labelledby="contactsModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="contactsModalLabel">Olulised kontaktid</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Tervishoiutöötaja:</label>
                                            <div class="col-sm-8">
                                                <input type="number" value="+372" name="" class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Lähedane:</label>
                                            <div class="col-sm-8">
                                                <input type="number" value="+372" name="" class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Hädaabi:</label>
                                            <div class="col-sm-4 m-1">
                                                <p>112</p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Mürgistusliin:</label>
                                            <div class="col-sm-4 m-1">
                                                <p>16662</p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">24/7 perearstiliin:</label>
                                            <div class="col-sm-4 m-1">
                                                <p>1220</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Sulge</button>
                                        <button type="submit" class="btn btn-primary">Salvesta muudatused</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col card one-div rounded-3 p-3 m-3">
                        <h5 class="text-center">K-VITAMIIN</h5>
                        <button type="button" class="btn btn-primary m-2" data-toggle="modal" data-target="#vitaminModal">
                            Vaata
                        </button>
                        <div class="modal fade" id="vitaminModal" tabindex="-1" role="dialog" aria-labelledby="vitaminModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="vitaminModalLabel">Vitamiin K info</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>
                                            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                                Toiduained, milles on kõrge K-vitamiini sisaldus (madal INR viitab paksule verele)
                                            </a>
                                        </p>
                                        <div class="collapse" id="collapseExample">
                                            <div class="card card-body">
                                                <li>Rohelised köögiviljad (nt lehtpeet, spinat, lehtkapsas, maitseroheline, murulauk, rooskapsas)</li>
                                                <li>Mõned taimeõlid (nt rapsi-, soja- ja kõrvitsaseemneõli)</li>
                                                <li>Maks, liha, munakollane ja piimatooted</li>
                                            </div>
                                        </div>
                                        <p>
                                            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
                                                Toiduained, millel on madal K-vitamiini sisaldus
                                            </a>
                                        </p>
                                        <div class="collapse" id="collapseExample2">
                                            <div class="card card-body">
                                                Content
                                            </div>
                                        </div>
                                        <p>
                                            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3">
                                                Marevani toimet enim mõjutavad toiduained
                                            </a>
                                        </p>
                                        <div class="collapse" id="collapseExample3">
                                            <div class="card card-body">
                                                Content
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Sulge</button>
                                    </div>
                                </div>
                            </div>
                        </div>                    </div>
                    <div class="col card one-div rounded-3 p-3 m-3 clickable-card" data-toggle="modal" data-target="#profileModal">
                        <h5 class="text-center">MINU PROFIIL</h5>
                        <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="profileModalLabel">Minu profiil</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form th:action="@{/editProfile}" method="post" th:object="${user}">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Nimi:</label>
                                                <div class="col-sm-8">
                                                    <input type="text" value="" name="username" class="form-control" required/>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">E-post:</label>
                                                <div class="col-sm-8">
                                                    <input type="date" value="" name="email" class="form-control" required/>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Sulge</button>
                                        <button type="submit" class="btn btn-primary">Salvesta muudatused</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form th:action="@{/logout}" method="post" class="text-end">
            <button type="submit" class="btn btn-secondary btn-outline-dark m-2">Logi välja</button>
        </form>
    </div>
</body>
</html>