<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block layout:insert="~{fragments/header}"/>
<body>
    <div class="container-fluid">
        <div class="text-center">
            <h1 class="p-4">Tere tulemast MinuMarevani!</h1>
            <h2>Logi sisse</h2>
        </div>
        <form th:action="@{/perform_login}" method="get" style="max-width: 500px; margin: 0 auto">
            <div class="border border-secondary rounded p-3">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Kasutajanimi:</label>
                    <div class="col-sm-8">
                        <input type="text" name="username" class="form-control" required/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Salasõna:</label>
                    <div class="col-sm-8">
                        <input type="password" name="password" class="form-control" required/>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-outline-dark m-2">Sisene</button>
                </div>
                <div class="text-center">
                    <button type="button" onclick="register()" class="btn btn-secondary btn-outline-dark m-2">Registreeru kasutajaks</button>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        function register() {
            window.location = "[[@{/register}]]";
        }
    </script>
</body>
</html>