<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registreeru MinuMarevani kasutajaks</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container-fluid">
    <div class="text-center">
        <h1 class="p-4">Registreeru MinuMarevani kasutajaks</h1>
    </div>
    <form th:action="@{/register/save}" method="post" th:object="${user}" style="max-width: 500px; margin: 0 auto">
        <div class="border border-secondary rounded p-3">
            <input type="hidden" th:field="*{id}">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Kasutajanimi:</label>
                <div class="col-sm-8">
                    <input type="text" name="username" class="form-control" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Salasõna:</label>
                <div class="col-sm-8">
                    <input type="text" name="password" class="form-control" required/>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-outline-dark m-2">Registreeru</button>
            </div>
        </div>
    </form>
</div>

</script>
</body>
</html>